* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Paleta de colores */
/* Color del main */
/* Color del header y footer */
header {
  background-color: #808080;
  display: flex;
  justify-content: space-between;
}
header .cafeCito, header nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  margin: 10px 10px;
}
header .menuHamburguesa {
  background-color: #808080;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 20px 15px;
  list-style: none;
}
header nav ul li:hover {
  transform: scale(0.9);
}
header nav ul li a {
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}
header nav ul li a:hover {
  background-color: #fff;
}
header nav ul li .activo {
  background-color: #fff;
}

.footer {
  background-color: #808080;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: relative;
  /* margin-top: 20px; */
  bottom: 0%;
}
.footer a {
  font-size: 2rem;
  color: #000000;
  cursor: pointer;
}

/* MediaQ de Productos */
@media only screen and (max-width: 769px) {
  .containerProductos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: none;
  }
  .containerProductos .cafeCitoCarta {
    width: 47%;
    margin: 0;
  }
}
@media only screen and (max-width: 426px) {
  .containerProductos .cafeCitoCarta {
    width: 100%;
  }
}
/* MediaQ de Nosotros */
@media only screen and (max-width: 426px) {
  .mainNosotros .containerNosotros {
    flex-wrap: wrap;
    justify-content: center;
  }
  .mainNosotros .containerNosotros .p {
    margin: 20px;
  }
  .mainNosotros .containerNosotros .img {
    width: 50%;
  }
}
/* MediaQ de Galeria */
@media only screen and (max-width: 769px) {
  .mainGaleria .contenidoGaleria {
    justify-content: center;
  }
}
/* MediaQ de Contactanos */
@media only screen and (max-width: 769px) {
  .mainContacto {
    padding: 10px;
  }
}
@media only screen and (max-width: 426px) {
  .mainContacto {
    padding: 10px;
  }
}
.gridContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4.5rem auto auto;
}

/* MAIN HOME */
body {
  background-color: #deb887;
}

.container .tituloHome {
  text-align: center;
  padding: 20px;
}
.container .productoContainer {
  gap: 20px;
}
.container .productoContainer .producto {
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container .productoContainer .producto .imgProducto {
  height: 400px;
}
.container .productoContainer .producto h2 {
  text-align: center;
}

/* MAIN CARTA */
.mainProductos {
  padding: 20px;
}
.mainProductos h1 {
  text-align: center;
}
.mainProductos .containerProductos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: none;
}
.mainProductos .containerProductos .cafeCitoCarta {
  border: 1px solid #000000;
  /* width: 30%; */
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  margin-bottom: 50px;
  text-align: justify;
}
.mainProductos .containerProductos .cafeCitoCarta h2 {
  margin-top: 30px;
  text-align: center;
}
.mainProductos .containerProductos .cafeCitoCarta table {
  color: #000000;
  width: 100%;
}
.mainProductos .containerProductos .cafeCitoCarta table td {
  padding: 10px;
}

/* MAIN NOSOTROS */
.mainNosotros {
  padding: 20px;
}
.mainNosotros h1 {
  text-align: center;
}
.mainNosotros .containerNosotros {
  margin-bottom: 20px;
  display: flex;
}
.mainNosotros .containerNosotros img {
  width: 30%;
}
.mainNosotros .containerNosotros p {
  text-align: center;
  margin: auto 20px;
}

/* MAIN GALERIA */
.mainGaleria {
  display: flex;
  justify-content: center;
}
.mainGaleria .contenidoGaleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainGaleria .contenidoGaleria img {
  padding: 10px;
  width: 300px;
  height: 350px;
}

/* MAIN CONTACTANOS */
.mainContacto {
  padding: 10px;
}
.mainContacto .containerFormulario .formularioContactanos {
  padding: 20px;
}
.mainContacto .containerFormulario .formularioContactanos .tituloContactanos {
  text-align: center;
}
.mainContacto .containerInformacion h2 {
  text-align: center;
  margin: 10px 0px;
}
.mainContacto .containerInformacion .location {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.mainContacto .containerInformacion .location svg {
  text-align: center;
  margin-right: 7px;
  width: 15px;
}
.mainContacto .containerInformacion .iframeMap {
  width: 70%;
  position: relative;
  left: 15%;
}/*# sourceMappingURL=styles.css.map */